services:
  web:
    container_name: smart-watt
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: always
    environment:
      - NODE_ENV=production
    # 如果未来有数据库，可以在这里添加
    # depends_on:
    #   - db
